/*Name: Zach Palmer
Date: 10/25/17
Section: CSE 154 AI

This is the fifteen.css page for the 4th homework assignment. It includes
styling for the different tiles that are added to the DOM, the styling for
the entire board of tiles, and the hover properties for valid movable tiles.
*/
body {
    font-family: cursive;
    font-size: 14pt;
    text-align: center;
}

#puzzlearea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin: auto;
}

.tile {
    border: solid black 5px;
    font-size: 40pt;
    background-image: url("/background.jpg");
}

.emptytile {
    border: solid transparent 5px;
}

.hover:hover {
    border-color: red;
}

.tile, .emptytile {
    width: 90px;
    height: 90px;
}